Footer {
	background-color: #333;
	.inner {
		width: 1180px;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 40px;
		.title {
			color: #efefef;
			font-size: 30px;
			font-family: 'Tajawal';
			letter-spacing: 2px;
			padding-left: 20px;
			margin-bottom: 50px;
		}
		ul {
			display: flex;
			justify-content: space-around;
			li {
				width: 20%;
				color: #999;
				line-height: 30px;
				font-size: 18px;
				font-family: 'worksans';
				p {
					width: 100%;
					margin-bottom: 30px;
				}
				&:last-of-type {
					border-left: 1px solid #999;
					padding-left: 30px;
					p {
						font-weight: bold;
					}
					.icon {
						display: flex;
						justify-content: space-between;
						font-size: 25px;
						cursor: pointer;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	Footer {
		.inner {
			width: 100%;
			ul {
				li {
					width: 33.333%;
					transition: 0.5s;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	Footer {
		.inner {
			width: 100%;
			ul {
				li {
					width: 30%;
					transition: 0.5s;
					&:nth-of-type(1) {
						border-right: 1px solid #999;
					}
					&:last-of-type {
						border: none;
					}
				}
			}
		}
	}
}
