header {
	width: 100%;
	.inner {
		width: 1180px;
		height: 80px;
		margin: 0 auto;
		position: relative;
		.pic {
			position: absolute;
			top: 20px;
		}
		#gnb {
			position: absolute;
			bottom: 0;
			right: 200px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px 30px;
					font-size: 14px;
					line-height: 1;
					font-family: 'roboto';
					font-weight: bold;
					color: #000;
				}
			}
		}
		.fa-magnifying-glass {
			font-size: 24px;
			position: absolute;
			bottom: 20px;
			right: 100px;
		}
	}
	&.sub {
		background: #222;
		.inner {
			h1 a {
				color: #fff;
			}
			#gnb li a {
				color: #fff;
			}
			.fa-magnifying-glass {
				color: #fff;
			}
		}
	}
	&.main {
		background: #fff;
		border-bottom: 1px solid #ccc;
		z-index: 2;
		.inner {
			h1 a {
				color: #555;
			}
			#gnb li a {
				color: #555;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		width: 100%;
		.inner {
			width: 100%;
			h1 {
				bottom: 20px;
				left: 40px;
			}
			#gnb {
				display: none;
			}
		}
	}
}
