.content {
	figure {
		width: 100%;
		height: 300px;
		background: #000;
		opacity: 0;
		transition: 1s;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.7;
		}
	}
	.inner {
		width: 1180px;
		min-height: 400px;
		margin: 0px auto;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 0.5s, transform 0.5s;
		.box1 {
			width: 40%;
			height: 50px;
			background-color: #333;
			margin-bottom: 170px;
			// margin-left: 5%;
			position: relative;
			p {
				font-size: 20px;
				font-family: 'roboto';
				font-weight: 100;
				letter-spacing: 3px;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50px;
				transform: translateY(-50%);
			}
			.fa-arrow-down {
				position: absolute;
				top: 50%;
				right: 50px;
				transform: translateY(-50%);
				color: #fff;
				font-size: 30px;
			}
		}
	}
	&.on {
		figure {
			opacity: 1;
		}
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 200px;
		}
		.inner {
			width: 100%;
			.box1 {
				p {
					left: 20px;
				}
				.fa-arrow-down {
					right: 20px;
				}
			}
		}
	}
}
