.scroll_navi {
	z-index: 2;
	position: fixed;
	top: 50%;
	transform: translate(-50%);
	right: 50px;
	li {
		width: 15px;
		height: 15px;
		border: 3px solid #293d69;
		border-radius: 50%;
		background: #fff;
		margin: 20px;
		cursor: pointer;
		transition: 0.7s;
		&.on {
			height: 100px;
			background-color: #293d69;
			border-radius: 10px;
			border: #fff;
		}
	}
}
