.Gallery {
	.loading {
		position: absolute;
		top: 200px;
		left: 50%;
		transform: translateX(-50%);
	}
	.frame {
		transition: transform 1s, opacity 1s;
		transform: translateY(200px);
		opacity: 0;

		&.on {
			transform: translateY(0px);
			opacity: 1;
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: 25%;
			padding: 10px;
			float: left;
			.flickr {
				width: 100%;
				padding: 10px;
				background: #fff;
				box-shadow: 5px 5px 20px ragba(0, 0, 0, 0.1);

				.pic {
					width: 100%;
					margin-bottom: 5px;

					img {
						width: 100%;
					}
					h2 {
						font-weight: normal;
						font-size: 14px;
						line-height: 1.2;
						color: #777;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
