.Location {
	.box1 {
		width: 40%;
		height: 50px;
		background-color: #333;
		margin-bottom: 170px;
		margin-left: 5%;
		position: relative;
		p {
			font-size: 20px;
			font-family: 'roboto';
			font-weight: 100;
			letter-spacing: 3px;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50px;
			transform: translateY(-50%);
		}
		.fa-arrow-down {
			position: absolute;
			top: 50%;
			right: 50px;
			transform: translateY(-50%);
			color: #fff;
			font-size: 30px;
		}
	}
	#map {
		width: 100%;
		height: 500px;
		background-color: #000;
		margin-top: 150px;
		border: 1px solid #000;
	}
	button {
		margin-top: 10px;
		cursor: pointer;
		height: 30px;
		border: 1px solid #888;
		padding: 5px 20px;
	}
	.branch {
		width: 100%;
		margin-top: 50px;
		li {
			width: 100%;
			height: 300px;
			margin-bottom: 50px;
			border: 1px solid #000;
			cursor: pointer;
			transition: 0.5s;
			&:hover {
				background: #999;
			}
			&.on {
				background: #999;
				border: none;
				color: #efefef;
			}
			.wrap {
				width: 100%;
				height: 100%;
				position: relative;
				img {
					width: 35%;
					height: 100%;
					object-fit: cover;
					float: left;
					position: absolute;
					top: 0;
					left: 0;
				}
				.txt {
					font-family: 'Gowun Dodum';
					position: absolute;
					top: 10%;
					left: 40%;
					h2 {
						color: #293d69;
						margin-bottom: 30px;
					}
					// p {
					// 	margin-bottom: 10px;
					// }
				}
			}
			&:nth-of-type(2) {
				margin-right: 2%;
			}
			&:nth-of-type(2),
			&:nth-of-type(3) {
				float: left;
				width: 49%;
				img {
					width: 40%;
				}
				.txt {
					font-family: 'Gowun Dodum';
					position: absolute;
					top: 10%;
					left: 45%;
					h2 {
						color: #293d69;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
